@import "../../../themes/catppuccin-mocha/walker.css";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

.window {
  background-color: transparent;
}

.box-wrapper {
  background-color: @background;
  border: 2px solid @accent;
  border-radius: 10px;
  padding: 10px;
}

.input {
  background-color: @surface0;
  color: @foreground;
  padding: 10px;
  border-radius: 6px;
}

.placeholder {
  color: @surface1;
  padding: 10px;
}

.list {
  padding: 5px 0;
}

.item {
  padding: 8px 12px;
  border-radius: 6px;
}

.item:selected {
  background-color: @accent;
  color: @background;
}

.item:selected .label,
.item:selected .sub,
.item:selected .icon {
  color: @background;
}

.icon {
  color: @foreground;
}

.label {
  color: @foreground;
  font-weight: 500;
}

.sub {
  color: @surface1;
  font-size: 12px;
}
