@import "../../themes/catppuccin-mocha/waybar.css";

* {
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @foreground;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  color: @accent;
}

#cpu,
#battery,
#pulseaudio,
#network,
#bluetooth {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 12px;
}

#bluetooth {
  margin-right: 10px;
}

#network {
  margin-right: 8px;
}

#clock {
  margin-left: 8px;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

tooltip {
  background: @background;
  border: 1px solid @accent;
  border-radius: 4px;
  padding: 4px;
}
